<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sxu.module1">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".BaseHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.sxu.module1.BaseActivityStyleActivity"/>

        <activity android:name="com.sxu.module1.BaseProgressActivityStyleActivity"/>

        <activity android:name="com.sxu.module1.DialogHomeActivity"/>

        <activity android:name="com.sxu.module1.NavigationBarHomeActivity"/>

        <activity android:name="com.sxu.module1.BaseFragmentStyleActivity"/>

        <activity android:name="com.sxu.module1.BaseProgressFragmentStyleActivity"/>

    </application>
</manifest>
