<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sxu.baselibrarydemo">
    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".BaseLibraryHomeActivity"/>

        <activity android:name=".ToolHomeActivity">
        </activity>

        <activity android:name=".UIHomeActivity">
        </activity>

    </application>
</manifest>
