<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sxu.commonbusinessdemo">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--<meta-data-->
            <!--tools:replace="android:value"-->
            <!--android:name="JPUSH_CHANNEL"-->
            <!--android:value="123" />-->
        <!--<meta-data-->
            <!--tools:replace="android:value"-->
            <!--android:name="JPUSH_APPKEY"-->
            <!--android:value="123" />-->
        <activity android:name=".wxapi.WXEntryActivity"/>

        <activity android:name=".CommonBusinessHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>